.full-column
  .half-column.flt-left
    .column-block
      %h3 Current filter
      .body
        - form_for([:admin, @configuration]) do |f|
          - if @configuration.new_record?
            %p.nothing There is no custom filter yet, editing the custom filter below will create a custom one
          .form_row
            = f.label :filter_data
            = f.text_area :filter_data
  .half-column.flt-right
    .column-block
      %h3 Default Filter
      .body
        %pre= raw @configuration.filter_data.pretty_inspect
