.modal.hide.fade
  .modal-header
    %button.close{'data-dismiss' => 'modal', "aria-hidden" => true} &times;
    %h3 Add new program
  = simple_form_for @station_program, url: station_programs_path(@station.url_params) do |f|
    .modal-body
      = f.input :program_id, as: :string, input_html: { 'data-provide' => 'typeahead',
        autocomplete: :off }
    .modal-footer
      = f.button :submit, as: :submit, class: 'btn btn-primary'
