%h1 Current configuration
%ul
  - APP_CONFIG.each do |key, value|
    %li 
      %label= key
      - if value.is_a?(Hash)
        %ul
          - value.each do |k,v|
            %li
              %label=k
              = v
      - else
        = value
