:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-151290-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
:javascript
  #{yield :bottom_js}

  $(function() {
    #{yield :bottom_js_domready}
  });

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{APP_CONFIG[:facebook]['app_id']}', status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session) {
        console.log('welcome!');
        // A user has logged in, and a new cookie has been saved
      } else {
        console.log('Bye bye, zwaai zwaai');
        // The user has logged out, and the cookie has been cleared
      }
    });
  };
  