.page-header
  %h1
    = @network.name
    %small Running series

%table.table
  %thead
    %tr
      %th Program name
      %th First aired
      %th Next episode
      %th Genres
  %tbody
    = render @programs
