=rounded_corners
  -moz-border-radius: 5px 5px
  -webkit-border-radius: 5px 5px
=rounded_bottoms
  -moz-border-bottom-left-radius: 5px
  -moz-border-bottom-right-radius: 5px
  -webkit-border-bottom-left-radius: 5px
  -webkit-border-bottom-right-radius: 5px
  