/* CSS3 */
=rounded_corners
  -moz-border-radius: 5px 5px
  -webkit-border-radius: 5px 5px
=rounded_bottoms
  -moz-border-bottom-left-radius: 5px
  -moz-border-bottom-right-radius: 5px
  -webkit-border-bottom-left-radius: 5px
  -webkit-border-bottom-right-radius: 5px
=rounded_tops
  -moz-border-top-left-radius: 5px
  -moz-border-top-right-radius: 5px
  -webkit-border-top-left-radius: 5px
  -webkit-border-top-right-radius: 5px

section
  h1,h2,h3,h4
    background: -moz-linear-gradient(top, $head_bg_color_start, $head_bg_color_inner)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, $head_bg_color_start), color-stop(1.0, $head_bg_color_inner))
    +rounded_corners
.list 
  thead th
    background: -moz-linear-gradient(top, #ddd,#aaa)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ddd), color-stop(1.0, #aaa))
  tbody tr, li
    &:nth-child(odd)
      background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f2f2f2), color-stop(1.0, #e7e7e7))
    &:nth-child(even)
      background: -moz-linear-gradient(top, #f7f7f7, #efefef)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f7f7f7), color-stop(1.0, #efefef))
    &.completed, &.completed td