=form_row_basics
  overflow: hidden
  padding: 2px 5px
  margin-bottom: 5px
  line-height: 20px
  clear: left
  label
    float: left
    width: 150px
    padding-right: 5px
    &.long
      width: 250px
    &.required
      font-weight: bold

#columnized-layout
  .column-block
    form
      .entry
        padding:
          top: 5px
        fieldset
          legend
            font-size: 12px
            font-weight: bolder
          border: none
            top: 1px solid #cccccc

.form_row
  +form_row_basics
  +clear
  overflow: hidden
  padding: 2px 5px
  margin-bottom: 5px
  line-height: 20px
  clear: left
  &.required
    label
      font-weight: bolder
  &.icon
    line-height: 30px
    input[type="text"], input[type="password"]
      float: left
      margin-top: 5px
    button
      margin-left: 5px
      float: right
      height: 27px
  label
    float: left
    width: 150px
  label.required
    font-weight: bold
  input[type="text"], input[type="password"], input[type="email"]
    border: 1px solid $input_border_color
    padding: 3px
    font-size: 12px
    width: 400px
    &.small
      width: 200px
  textarea
    padding: 5px
    width: 410px
    height: 70px
    &.hugh
      width: 750px
      height: 250px
  select
    width: 220px
    &.date
      width: 70px
      width: inherit
  select, input, textarea
    &.inherit
      width: inherit
  .input_small, input.small
    width: 200px
  .input_medium, input.medium
    width: 264px

.form_row_checkbox
  +form_row_basics
  input
    width: 15px

input, select, textarea
  border: 1px solid
    color: $input_border_color !important
  &.error
    border: 1px solid
      color: $input_border_error_color !important
#errorExplanation
  margin: 10px
    bottom: 20px
  padding: 10px
  border: 1px solid #dddddd
    left: none
    top: none
  ul, ol
    li
      padding-left: 5px
      list-style-type: square
      list-style-position: inside
    margin-bottom: 10px
.validation-error
  display: block
  padding: 5px
  margin: 5px 0
  background-color: white
  color: red
  border: 1px solid red
  -webkit-border-radius: 5px 5px
  -moz-border-radius: 5px