hgroup
  +clear
#wrapper
  +rounded_corners
  min-width: 600px
  max-width: 1024px
  background-color: white
  margin: 10px auto
  header
    position: relative
    padding: 10px
    .loading
      position: absolute
      top: 40px
      left: 10px
    .user_nav
      position: absolute
      top: 0
      right: 10px

  .content
    .column-block .body
      ul.program_guide
        margin: 10px
        padding: 0
        li
          padding: 5px
.full_width
  width: 100%

.content
  padding: 10px

p.nothing
  margin: 50px auto
  font-size: 18px
  color= $grey
  text-align: center

footer
  +rounded_bottoms
  margin: 20px 0
  background-color: rgba(233, 233, 233, 0.8)
  hr
    display: none
    width: 95%
    margin: 0 auto
  ul
    text-align: center
    +clear
    li
      display: inline-block
      margin: 5px 20px