#wrapper
  +rounded_corners
  width: 1024px
  background-color: white
  margin: 10px auto
  #header
    padding: 10px
    .user_nav
      float: right
.full_width
  width: 100%
  
.content
  padding: 10px
  
ul.episodes 
  li.inactive
    color= !grey
    a
      color= !grey
  li.active
    color= !lightgreen
    a
      color= !lightgreen
  li.downloaded
    color= !green
    a
      color= !green
  li.downloaded.inactive
    color= !grey + !green
    a
      color= !grey + !green
