hgroup
  +clear
#wrapper
  +rounded_corners
  min-width: 600px
  max-width: 1024px
  background-color: white
  margin: 10px auto
  header
    position: relative
    padding: 10px
    .loading
      position: absolute
      top: 40px
      left: 10px
    .user_nav
      position: absolute
      top: 0
      right: 10px

  .content
    .column-block .body
      ul.program_guide
        margin: 10px
        padding: 0
        li
          padding: 5px
.full_width
  width: 100%

.content
  padding: 10px

ul.episodes
  li.inactive
    color: $grey
    a
      color: $grey
  li.active
    color: $lightgreen
    a
      color: $lightgreen
  li.downloaded
    color: $green
    a
      color: $green
  li.downloaded.inactive
    color: $grey + $green
    a
      color: $grey + $green
ul.my_programs
  margin: 0
    left: 0 !important
  padding: 0
  li
    margin: 0
    padding: 5px
    line-height: 22px
footer
  +rounded_bottoms
  margin: 20px 0
  background-color: rgba(233, 233, 233, 0.8)
  hr
    display: none
    width: 95%
    margin: 0 auto
  ul
    text-align: center
    +clear
    li
      display: inline-block
      margin: 5px 20px