=column
  +clear
  &.flt-left
    float: left
  &.flt-right
    float: right

h1,h2,h3,h4,h5,h6
  +clear
  span.header
    float: left
  .header_link, .header_links
    +clear
    a, input
      font-size: 12px
    img
      display: block
  .header_link
    float: right
    a
      float: none
  .header_links
    float: right
    a
      float: none
      padding-right: 10px
      margin-right: 10px
      border-right: 1px solid #dddddd
      &.last
        border-right: none
        
h1
  &.with_margin
    margin: 2px
  small, small a
    font-size: 80%
    color: #dddddd
section
  .row_seperator
    height: 20px
    line-height: 20px

  .column-block
    +clear
    +simple_box_shadow
    -moz-border-radius: 5px 5px 5px 0
    border-radius: 5px 5px 5px 0
    background: #fff
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, $column_bg_gradient_start), color-stop(0.4, $column_bg_gradient_start), color-stop(1.0, $column_bg_gradient_stop))
    background: -moz-linear-gradient(top, $column_bg_gradient_start, $column_bg_gradient_start, $column_bg_gradient_stop)
    margin:
      bottom: 20px
    &.gray, &.grey
      background-color: #f5f5ee
    h1,h2,h3,h4
      margin-bottom: 0
      -moz-border-radius: 5px 5px 0 0 !important
      border-radius: 5px 5px 0 0
      background-color: #f5f5ee
      background: -moz-linear-gradient(top, #f2f2f2, #e7e7e7)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f2f2f2), color-stop(1.0, #e7e7e7))
    h1,h2,h3,h4,h5,h6
      &.no_bg
        margin: 5px
        background-color: transparent
        border:
          bottom: 1px solid #dddddd
    h2, h3
      background: -moz-linear-gradient(top, #eee,#ddd)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eee), color-stop(1.0, #ddd))
      border-bottom: 1px solid #d5d5d5
    h3
      height: 18px
      line-height: 18px
    h4
      line-height: 16px
    .body
      +clear
      padding: 0
      ol
        li
          list-style-type: decimal
          padding-left: 5px
      p
        padding: 5px !important
      .entry
        +clear
        padding:
          bottom: 5px
        margin:
          bottom: 5px
    div.header
      +clear

  .small-column
    width: 305px
    +column

  .half-column
    width: 49%
    +column

  .wide-column
    width: 612px
    +column

  .third-column, .one-third-column
    width: 32%
    float: left
    // &:nth-child(3n-1)
    //   margin: 0 2%
    &:nth-child(3n+0)
      float: right
    +column

  .two-third-column
    width: 64%
    float: left
    +column

  .full-column
    width: 100%
    +column
