= follow_link(personal_station, program) do
  %span.button-text.follow-text
    %i.icon-large.icon-eye-open
    Follow
  %span.button-text.following-text Following
  %span.button-text.unfollow-text &nbsp;Unfollow