- if current_user
  %li.guide_control.add{:class => (:hidden unless current_user.programs.include?(program))}= link_to 'Remove from my episode guide', user_program_path(current_user, program), :method => :delete, :remote => true
  %li.guide_control.remove{:class => (:hidden if current_user.programs.include?(program))}
    Add to my episode guide
    %br
    %ul.downloads
      - SearchTermType.all.each do |search_term_type|
        %li= link_to search_term_type.name, user_program_preferences_path(current_user, :program_preference => {:program_id => program.id, :search_term_type_id => search_term_type.id}), :method => :post, :disable_with => 'please wait', :remote => true
