%tr[program]
  %td= link_to program.name, program
  %td= program.status
  %td
    - if next_episode = program.episodes.next_airing.first
      = pretty_date next_episode.airs_at
    - else
      \-
  %td== #{program.runtime} minutes
