- page_title "Episode guide"
%h3 Full guide
%section
  .row
    .span3
      .page-header
        %h4 Stations
      = render 'application/station_list'
    .span6
      .page-header
        %h4 Recently aired
        %dl#past-episodes
          = render 'episodes/past_episodes', |
            past_episodes: @past_episodes, last_updated_episode: @last_updated_episode

    .span3
      .page-header
        %h4 Next airing
      .well
        - cache [:guide, @last_updated_episode] do
          = render 'episodes/next_airing', next_episodes: @upcoming_episodes