.column-block
  %h1 All programs
  .body
    .row_seperator
    - if @programs.any?
      - @programs.each do |program|
        .column-block[program]
          %h3
            %span.header= link_to program.name, program
            .header_links
              == #{pluralize(program.users.count, 'watcher')}
          .body
            - if program.banner?
              = image_tag(AWS::S3::S3Object.url_for(program.banner.path, program.banner.bucket_name))
            - if program.overview.blank?
              %p.nothing No description available
            - else
              %p= program.overview
    - else
      %p.nothing No programs yet