%section
  .page-header
    %h1
      - if params[:search]
        == Results for #{params[:search]}
      - else
        List all programs

  - if @programs.any?
    %table.table.table-striped#programs
      %thead
        %tr
          %th Name
          %th{:width => '120'} Watchers
          %th{:width => '120'} Status
          %th{:width => '200'} Next episode
          %th{:width => '120'} Runtime
      %tbody
        = render @programs
    = will_paginate @program
  - else
    %p.nothing
      No programs found!
