- if @programs.any?
  .column-block
    %h2== Found #{pluralize(@programs.count,'matched program')}
    .body
      %p Which of these where you looking for?
      - @programs.each do |program|
        .column-block
          %h4= program.name
          .body
            - if program.overview.blank?
              %p.nothing No description available
            - else
              %p= program.overview
            %p 
              Add in 
              - links = SearchTermType.all.map do |search_term|
                - link_to search_term.name, user_program_preferences_path(current_user, :tvdb_id => program.tvdb_id, :search_term_type_id => search_term.id, :format => :js), :remote => true, :method => :post, :data=> {:'disable-with' => 'Adding...'}
              = links.to_sentence.html_safe
- else
  %p.nothing No programs found