%section
  .page-header
    %h1
      == Found #{pluralize(@programs.count,'matched program')}
      %small Which of these where you looking for?
  - if @programs.any?
    %dl
    - @programs.each do |program|
      .page-header
        %h3= program.name
        %p= program.overview
        %dl
          %dt Add to your guide
          %dd
            - SearchTermType.all.map do |search_term|
              %span.label.success
                = link_to search_term.name, user_program_preferences_path(current_user, :tvdb_id => program.tvdb_id, :search_term_type_id => search_term.id), :remote => true, :method => :post, :disable_with => 'Adding...'
              &nbsp;

  - else
    %p.nothing No programs found, please try