- if @programs.any?
  .column-block
    %h2== Found #{pluralize(@programs.count,'matched program')}
    .body
      %p Which of these where you looking for?
      %ul
        - @programs.each do |program|
          %li
            = link_to(program.name, user_programs_path(current_user, :tvdb_id => program.tvdb_id), :method => :post, :remote => true)
            - if program.overview.blank?
              %p.nothing No description available
            - else
              %p= program.overview
- else
  %p.nothing No programs found