- semantic_form_for [:admin, @program_preference], :url => (@program_preference.new_record? ? admin_program_preferences_path : admin_program_preference_path(@program_preference)) do |f|
  = f.inputs
  = f.buttons