.page-header
  %h1== ProgramPreferences (#{SearchTermType.count})

- if @program_preferences.any?
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{:width => '15%'} User
        %th Program
        %th{:width => '15%'} Search term
        %th{:width => '5%'} Download
        %th{:width => '10%'} Controls
    %tbody= render @program_preferences
  = will_paginate @program_preferences
- else
  %p.nothing Still nothing here!

.page-header
  %h2 New program preference
= render 'form'
