%h1
  == #{@genre.name} overview
  %small
    = link_to admin_genre_path(@genre, active: !@genre.active), method: :patch, data: { remote: true, 'disable-with' => '...' } do
      = @genre.active? ? 'Active' : 'Inactive'

%table.table.table-hover
  %tbody= render @genre.programs