- program ||= episode.program
%tr[episode]{ class: (:active if episode == selected_episode)}
  %td
    = link_to episode.full_episode_title, program_episode_path(program, episode), :class => :title
    - if current_user.try(:trusted?) && episode.airs_at.try(:past?)
      .actions= render 'episodes/trusted_actions', episode: episode
  %td{:width => 220}
    - if episode.airs_at
      %p= pretty_date episode.airs_at.to_date, :with_year => true
      - if episode.airs_at.past? && current_user.try(:admin?)
        = link_to('Redownload', episode_path(episode, :partial => :episodes), :method => :put, :remote => true, :disable_with => 'loading...', :class => 'btn small')
    - else
      \-
