- date = nil
%ul.nav.nav-list#next-airing
  - next_episodes.each do |episode|
    - if date != episode.airdate
      - date = episode.airdate
      %li.nav-header= pretty_date date
    %li[episode]
      = link_to episode.program do
        = episode.program_name
        - if episode.nr == 1
          - if episode.season_nr == 1
            %span.label.label-success New
          - else
            %span.label.label-success New season
