- date = nil
%dl#past-episodes
  - past_episodes.each do |episode|
    - if date != episode.airs_at.to_date
      - date = episode.airs_at.to_date
      %dt
        %h5= pretty_date date
    = render 'episodes/past_episode', {:episode => episode}
