.btn-group.trusted-actions
  = link_to search_program_episode_path(episode.program, episode), class: 'btn btn-small', rel: :nofollow do
    %i.icon-search.icon-large
    Search

  - episode.downloads.each do |download|
    = link_to download_program_episode_path(episode.program, episode, :format => :nzb),
      :title => download.origin, class: :'btn btn-small', rel: :nofollow do
      %i.icon-cloud-download.icon-large
      Download