.page-header
  %h1== Search term types (#{SearchTermType.count})

- if @search_term_types.any?
  %table.table.table-striped
    %thead
      %tr
        %th= sortable 'name'
        %th Nr of programs
        %th Controls
    %tbody= render @search_term_types

%h2 New Search term
= render 'form'
