== #{@registered_user.login.humanize} (#{@registered_user.email}) just created an account. Do you want to trust him?

== Follow this link to edit the user details: #{edit_admin_user_url(@registered_user)}