.modal.hide.fade
  .modal-header
    %button.close{'data-dismiss' => 'modal', "aria-hidden" => true} &times;
    %h3 Add new program
  = simple_form_for @program_preference, url: user_program_preferences_path,
    remote: true do |f|
    .modal-body
      = f.input :search_term_type_id, as: :hidden
      = f.input :q, as: :string, input_html: { 'data-provide' => 'typeahead',
        autocomplete: :off }
    .modal-footer
      = f.button :submit, as: :submit, class: 'btn btn-primary'
