.page-header
  %h1 Edit this configuration
.row
  .span6
    .page-header
      %h3 Edit this configuration
      = render 'form'
  .span6
    .page-header
      %h3 Current active filter
    %pre.prettyprint
      = raw @configuration.filter_data.pretty_inspect
