- if @authentications.any?
  %table
    %thead
      %tr
        %th User
        %th Provider
        %th Uid
        %th Created at
    %tbody
      - @authentications.each do |auth|
        %tr[auth]
          %td= auth.user.login
          %td= auth.provider
          %td= auth.uid
          %td= l auth.created_at, :format => :long
- else
  %p.nothing No authentications yet!