html {
  background-color: transparent;
}

body {
  padding-top: 60px;
}

body:not(.fluid) {
  background-image: asset_data_url("patterns/whitey.png");
  background-attachment: fixed;
}

#main.container {
  background-color: rgba(255,255,255,0.9);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  padding: 20px 10px;
}

.panel {
  @include clearfix();
  @include gradient-vertical(#FFF, #F4F4F4);
  @include box-shadow(0 2px 5px rgba(0,0,0,0.15));
  padding: 20px 20px 2px 20px;
  margin: 0 0 20px 0;
}

a i {
  text-decoration: none !important;
}

.episode {
  .download_options, .search_options {
    margin: 10px 0;
  }
}

// don't render a bottom margin for a form within a modal
.modal form {
  margin: 0 0 0 0;
}

// allow typahead to appear above the modal-footer
.modal-body {
  overflow-y:visible;
}
