/* For modern browsers */
@mixin clearfix {
  *display:                 inline-block;
  &:after {
    content:                " ";
    display:                block;
    height:                 0;
    clear:                  both;
    visibility:             hidden;
  }
}

#next-airing {
  dd {
    &:hover {
      background-color: rgba(240,240,240,0.8);
      cursor: pointer;
    }
  }
}

#past-episodes {
  dd.episode {
    @include clearfix;
    position: relative;
    margin-bottom: 10px;
    clear: both;
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid rgba(200,200,200,0.6);
    img.episode {
      float: right;
      margin: 0 10px;
      box-shadow: 0 0 8px rgba(0,0,0,0.8);
      -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
    }
    &:hover {
      img.episode {
        box-shadow: 0 0 12px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 12px rgba(0,0,0,0.8);
      }
    }
    h6 {
      line-height: 20px;
      margin-bottom: 5px;
    }
    .btn.refresh {
      position: absolute;
      top: 5px;
      right: 13px;
    }
    .episode-information {
      & >* {
        display: inline-block;
        width: 270px;
      }
      dl {
        clear: both;
      }
      p {
        font-size: 0.9em;
        display: inline;
        clear: left;
      }
    }
  }
}
.admin #past-episodes img.episode {
  margin-top: 20px !important;
}