/* For modern browsers */
@mixin clearfix {
  *display:                 inline-block;
  &:after {
    content:                " ";
    display:                block;
    height:                 0;
    clear:                  both;
    visibility:             hidden;
  }
}

#next-airing {
  dd {
    line-height: 22px;
    &:hover {
      background-color: rgba(240,240,240,0.8);
    }
    border-bottom: 1px solid #ddd;
  }
}

#past-episodes {
  .episode {
    @include clearfix;
    position: relative;
    margin-bottom: 10px;
    clear: both;
    &:nth-child(even) {
      border-bottom: 1px solid rgba(244,244,244,0.8);
      border-right: 1px solid rgba(244,244,244,0.8);
    }
    &:hover {
      background-color: rgba(255,255,255,1);
    }
    .episode {
      float: right;
      margin: 10px;
      box-shadow: 0 0 8px rgba(0,0,0,0.8);
      -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
    }
    &:hover {
      img.episode {
        box-shadow: 0 0 12px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 12px rgba(0,0,0,0.8);
      }
    }
    h6 {
      line-height: 20px;
      a {
        display: inline-block;
        min-width: 250px;
        max-width: 280px;
      }
      a:first-child {
        clear: right;
      }  
    }
    .episode-information {
      & >* {
        display: inline-block;
        min-width: 250px;
        max-width: 280px;
      }
      p {
        font-size: 0.9em;
      }
    }
  }
}