= render 'admin/programs/hero', program: @program, nav: @nav
- if @images.any?
  .row
    - @images.each do |image|
      .span4.media-body
        %h3= image.image_type
        = link_to image.file.url do
          %img.img-rounded{src: image.file.url}

- else
  %h4.muted No images available yet