%section#images
  .page-header
    %h1 
      - if @program
        == #{link_to @program.name, @program} -
      Images overview

  %ul.media-grid
    - @images.each do |image|
      %li[image]
        = link_to [:admin, image] do
          %img.thumbnail{:src => "/images/#{image.id}.jpg"}