%h1 Episode Downloads
.column-block
  .body
    - if @episodes.any?
      %table.zebra-striped
        %thead
          %tr
            %th Episode title
            %th Airdate
            %th Edit
        %tbody
          = render @episodes
    - else
      %p.nothing 