.page-header
  %h1 All Episodes
- if @episodes.any?
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th Episode title
        %th Airdate
        %th Edit
    %tbody
      = render @episodes
  = will_paginate @episodes
- else
  %p.nothing