.page-header
  %h1 Listing users

%table.table.table-striped
  %thead
    %tr
      %th Login
      %th Created_at
      %th Login count
      %th Nr of programs
      %th.controls
  %tbody= render @users

= link_to 'New user', new_admin_user_path, class: :btn
