:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-151290-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
:javascript
  #{yield :bottom_js}

  $(function() {
    #{yield :bottom_js_domready}
  });

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{APP_CONFIG[:facebook]['app_id']}', status: true, cookie: true, xfbml: true});
    FB.getLoginStatus(handleSessionResponse);
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
  